@import url('https://fonts.googleapis.com/css?family=Pacifico');
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
.alert-danger{
  border: 1px solid red;
  background-color: pink;
  color:darkred;
  padding:0px 10px;
  width:200px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
form > input {
  width:200px;
}
.toolbar{
  width:100%;
  background: 	white;
  height:70px;
  color:	black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  font-size: 30px;
}
.nav{
  width:100%;
  height: 40px;
  background: white;
  border-bottom: 2px solid black;
    display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left:30px;
  font-size: 20px;
  color: dimgray;
  font-family: 'Roboto', sans-serif;
}
.nav > span{
  margin-right: 20px;
}
.nav > span:hover{
  color:#00e68a;
}
.logo{
  font-family: 'Pacifico', cursive;
}
.home-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.decorator{
  max-width:700px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 10px;
  color: dimgray;
}
.box-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
}
movie-list-component{
  display: flex;
  justify-content: flex-start;
  align-items: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
movie-component{
  width:140px;
  margin:10px 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding:10px 20px;
}
.fa.fa-television{
  font-size: 40px;
  color:#00e68a;
}
.fa.fa-film {
  font-size: 100px;
  color:#00e68a;
}
.green{
  color:#00e68a;
}
.red{
  color:red;
}
@media (max-width: 900px) {
  .home-container{
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .decorator{
    border: 0px;
    width:100%;
  }
}
@media (max-width: 600px) {
  .box-container{
    padding: 0px;
  }
  .decorator{
    padding: 30px 0px;
  }
  movie-list-component{
    flex-direction:column;
    align-items: center;
    width:400px;
  }
  movie-component{
    width:80%;
  }
  h2{
    font-size:15px;
  }
} 
@media (max-width: 400px) {
  .toolbar{
    font-size:20px;
  }
  .fa.fa-television{
  font-size: 20px;
  }
}
.display-row{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.summary{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding:10px 20px;
  margin-top:20px;
}
.btn{
  background-color: #00e68a;
  color:white;
  width:100%;
    display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom:5px;
  transition: 0.3s all ease;
  box-sizing: border-box;
  height:20px;
  margin:10px 0px;
}
.btn-filter{
  width:80px;
}
.btn-remove{
  margin:5px;
  width:40px;
}
.btn:hover{
  background-color: white;
  color:#00e68a;
  border: 1px solid #00e68a;
}
.title{
  font-family: 'Pacifico', cursive;
  color:#00e68a;
  background-color: white;
  padding: 5px 20px;
  position:relative;
  font-size: 20px;
  top:20px;
}
.about{  
  margin: 0 auto;
  max-width:700px;
  height:450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Pacifico', cursive;
}
button{
  background-color: #00e68a;
  padding:5px 20px;
  border:1px solid white;
  border-radius: 5px;
}