 <div class="home-container">
    <div class="box-container">
        <div class="title">Filter</div>
        <div class="decorator">
            <span class="btn btn-filter" routerLink="/list" routerLinkActive="active">Wszystkie</span> 
            <span class="btn btn-filter" routerLink="/list/sciFi" routerLinkActive="active">SciFi</span>   
            <span class="btn btn-filter" routerLink="/list/comedy" routerLinkActive="active">Comedy</span> 
            <span class="btn btn-filter" routerLink="/list/adventure" routerLinkActive="active">Adventure</span>  
            <span class="btn btn-filter" routerLink="/list/fantasy" routerLinkActive="active">Fantasy</span>                          
        </div>
     </div>  
     <div class="box-container">
        <div class="title">Lista</div>
        <div class="decorator">
            <movie-list-component (passMovieToCart)="addToCart($event)"></movie-list-component>
        </div>
     </div>   
     <div class="box-container">
        <div class="title">Koszyk</div>
        <div class="decorator">
            <my-cart-component [cart]="cart"></my-cart-component>
        </div>
     </div>
</div>