<div class="box-container">
    <div class="title">O nas</div>
    <div class="decorator about">
        <h2 class = "green"> {{ about.name }} </h2>
        <p> monday : {{ about.hours.monday }} </p>
        <p> thusday : {{ about.hours.thusday }} </p>
        <p> wednesday : {{ about.hours.wednesday }} </p>
        <p> thursday : {{ about.hours.thursday }} </p>
        <p> friday : {{ about.hours.friday }} </p>
        <p> saturday : {{ about.hours.saturday }} </p>
        <p> sunday : {{ about.hours.monday }} </p>
    </div>
</div>    